<div class="row">
    <div class="col-md-12">
        <div class="col-md-10 col-lg-offset-1" id="menu">
            <div><a href="#!/admin"><div class='home'></div>Нүүр хуудас</a></div>
            <div><a href="#!/admin/user"><div class='users'></div>Хэрэглэгч</a></div>
            <div><a href="#!/admin/category"><div class='category'></div>Категори</a></div>
            <div><a href="#!/admin/content"><div class='content'></div>Мэдээлэл</a></div>

            <div><a href="/logout">Гарах</a></div>
        </div>
    </div>
</div>
