<div class="row">
    <div class="col-md-12">
        <div id="menu">
            <div><a href="#!/admin"><div class='home'></div><span>Хянах самбар</span></a></div>
            <div><a href="#!/admin/user"><div class='users'></div><span>Хэрэглэгч</span></a></div>
            <div><a href="#!/admin/category"><div class='category'></div><span>Категори</span></a></div>
            <div><a href="#!/admin/content"><div class='content'></div><span>Мэдээлэл</span></a></div>
            <div><a href="#!/admin/feedback"><div class='feed'></div><span>Санал хүсэлт</span></a></div>
        </div>
    </div>
</div>
