
<div class="container">
    <div>
        <form data-ng-submit="signin()">
            <table>
                <thead>
                <tr>
                    <td>username</td>
                    <td>password</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="username" name="username" data-ng-model="username">
                    </td>
                    <td>
                        <input type="password" name="password" data-ng-model="password">
                    </td>
                    <td>
                        <button type="submit">signin</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>