<div ng-repeat="content in contents">
    <div class="news padding-5">
        <div class="more-title">
            <span data-ng-click="getContent(content.id)">{{content.title}}</span>
        </div>
        <img ng-src="{{content.image}}" style="height: 120px; width: auto; float: left">

        <div class="content-body" ng-bind-html="content.content">
        </div>
        <style type="text/css">
            table.tableizer-table {
                font-size: 12px;
                border: 1px solid #CCC;
                font-family: Arial, Helvetica, sans-serif;
            }

            .tableizer-table td {
                padding: 4px;
                margin: 3px;
                border: 1px solid #CCC;
            }

            .tableizer-table th {
                background-color: #104E8B;
                color: #FFF;
                font-weight: bold;
            }
        </style>
        <table class="tableizer-table">
            <thead>
            <tr class="tableizer-firstrow">
                <th>№</th>
                <th>Аймаг нэр</th>
                <th>№</th>
                <th>Аж ахуйн нэгж байгууллагын нэр</th>
                <th>Ажлын утас</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2">1</td>
                <td rowspan="2">Архангай</td>
                <td>1</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>2</td>
                <td>НААҮБ "Ундарга" ХХК</td>
                <td>70333204</td>
            </tr>
            <tr>
                <td rowspan="2">2</td>
                <td rowspan="2">Баянхонгор</td>
                <td>3</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>4</td>
                <td>НААҮБ "Чандмань Баянхонгор" ХК</td>
                <td>70442993</td>
            </tr>
            <tr>
                <td rowspan="2">3</td>
                <td rowspan="2">Булган</td>
                <td>5</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>6</td>
                <td>НААҮБ "Булган мээж" ХХК</td>
                <td>70342730</td>
            </tr>
            <tr>
                <td rowspan="2">4</td>
                <td rowspan="2">Баян-Өлгий</td>
                <td>7</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>8</td>
                <td>НААҮБ "Суат" ХХК</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="2">5</td>
                <td rowspan="2">Говь-Алтай</td>
                <td>9</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>10</td>
                <td>НААҮБ "Ундарга-Алтай" ОНӨҮГ</td>
                <td>70483656</td>
            </tr>
            <tr>
                <td rowspan="2">6</td>
                <td rowspan="2">Говьсүмбэр</td>
                <td>11</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>12</td>
                <td>"Ус-Ду" ОНӨҮГ</td>
                <td>70543127</td>
            </tr>
            <tr>
                <td rowspan="4">7</td>
                <td rowspan="4">Дархан-Уул</td>
                <td>13</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>14</td>
                <td>НААҮБ "Дархан ус суваг" ХК</td>
                <td>70377107</td>
            </tr>
            <tr>
                <td>15</td>
                <td>НААҮБ "Эмтнаран" ОНӨААТҮГ</td>
                <td>88665056</td>
            </tr>
            <tr>
                <td>16</td>
                <td>НААҮБ "Дулаан шарын гол" ХХК</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="3">8</td>
                <td rowspan="3">Дорноговь</td>
                <td>17</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>18</td>
                <td>НААҮБ "Чандмань Илч" ХХК</td>
                <td>70522638</td>
            </tr>
            <tr>
                <td>19</td>
                <td>НААҮБ "Чандмань Бадрал" ХХК</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="2">10</td>
                <td rowspan="2">Дундговь</td>
                <td>20</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>21</td>
                <td>НААҮБ "Дундговь ус" ХХК</td>
                <td>70593685</td>
            </tr>
            <tr>
                <td rowspan="2">11</td>
                <td rowspan="2">Дорнод</td>
                <td>22</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>23</td>
                <td>НААҮБ</td>
                <td>70584557</td>
            </tr>
            <tr>
                <td rowspan="2">12</td>
                <td rowspan="2">Завхан</td>
                <td>24</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>25</td>
                <td>НААҮБ "Амь-Ус" ХХК</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="6">13</td>
                <td rowspan="6">Сэлэнгэ</td>
                <td>26</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>27</td>
                <td>НААҮБ "Урсгал ус" ХХК</td>
                <td>70363741</td>
            </tr>
            <tr>
                <td>28</td>
                <td>НААҮБ "Урсгал ус" ХХК</td>
                <td>70362494</td>
            </tr>
            <tr>
                <td>29</td>
                <td>НААҮБ "Цант-Орхон" ХХК</td>
                <td>70367237</td>
            </tr>
            <tr>
                <td>30</td>
                <td>"Цант-Орхон" ХХК</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>31</td>
                <td>НААҮБ "Гавшгай ус" ХХК</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="3">14</td>
                <td rowspan="3">Орхон</td>
                <td>32</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>33</td>
                <td>"Эрдэнэт ус дулаан түгээх сүлжээ" ОНӨҮГ</td>
                <td>70350217</td>
            </tr>
            <tr>
                <td>34</td>
                <td>"Эрчим хүчний цех" Эрдэнэт үйлдвэр</td>
                <td>70353005</td>
            </tr>
            <tr>
                <td rowspan="3">15</td>
                <td rowspan="3">Өвөрхангай</td>
                <td>35</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>36</td>
                <td>НААҮБ "Онги ус суваг" ОНӨҮГ</td>
                <td>703252143</td>
            </tr>
            <tr>
                <td>37</td>
                <td>"Хархорин ус суваг" ХХК</td>
                <td>70327353</td>
            </tr>
            <tr>
                <td rowspan="2">16</td>
                <td rowspan="2">Өмнөговь</td>
                <td>38</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>39</td>
                <td>НААҮБ "Гүний ус" ХХК</td>
                <td>70533800</td>
            </tr>
            <tr>
                <td rowspan="2">17</td>
                <td rowspan="2">Сүхбаатар</td>
                <td>40</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>41</td>
                <td>НААҮБ "Дөрвөлж" ХХК</td>
                <td>93142454</td>
            </tr>
            <tr>
                <td rowspan="2">18</td>
                <td rowspan="2">Төв</td>
                <td>42</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>43</td>
                <td>НААҮБ "Төв чандмань ДЭХГ" ОНӨҮГ</td>
                <td>70273781</td>
            </tr>
            <tr>
                <td rowspan="2">19</td>
                <td rowspan="2">Увс</td>
                <td>44</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>45</td>
                <td>НААҮБ "Чандмань Увс" ХХК</td>
                <td>70453106</td>
            </tr>
            <tr>
                <td rowspan="2">20</td>
                <td rowspan="2">Ховд</td>
                <td>46</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>47</td>
                <td>НААҮБ "Шим-Ус" ОНӨҮГ</td>
                <td>89997660</td>
            </tr>
            <tr>
                <td rowspan="3">21</td>
                <td rowspan="3">Хэнтий</td>
                <td>48</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>49</td>
                <td>НААҮБ "Хэнтий ус" ХХК</td>
                <td>70562396</td>
            </tr>
            <tr>
                <td>50</td>
                <td>НААҮБ "Бор өндөр хот тохижилт" ОНӨҮГ</td>
                <td>70567199</td>
            </tr>
            <tr>
                <td rowspan="2">22</td>
                <td rowspan="2">Хөвсгөл</td>
                <td>51</td>
                <td>ГХБХГазар</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>52</td>
                <td>НААҮБ "УСНААК" ОНӨҮГ</td>
                <td>70383099</td>
            </tr>
            <tr>
                <td rowspan="5">23</td>
                <td rowspan="5">Улаанбаатар</td>
                <td>53</td>
                <td>"УСУГ" ОНӨҮГ</td>
                <td>70157065</td>
            </tr>
            <tr>
                <td>54</td>
                <td>"УСУГ" ОНӨҮГ</td>
                <td>98116526</td>
            </tr>
            <tr>
                <td>55</td>
                <td>"УСУГ" ОНӨҮГ</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>56</td>
                <td>НААҮБ "Багануур ус" НӨҮГ</td>
                <td>70210420</td>
            </tr>
            <tr>
                <td>57</td>
                <td>НААҮБ "Чандмань Налайх" НӨҮГ</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
