<footer class="blog-footer">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    Мэдээллийн сангийн асуулт хариулт
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Цэс
                </div>
                <div class="col-lg-6">
                    Цэс
                </div>

            </div>
        </div>
        <div class="col-lg-3">
            <div>Таньд асуулт байна уу</div>
            <div>Утас 23687</div>
            <div>Бусад холбоос</div>
        </div>
        <div class="col-ls-3">
            <div>Биднийг дагах</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div>Бүх эрх хуулиар хамгаалагдсан</div>
        </div>

        <div class="col-lg-3">
            <a href="#">Сайт ашиглах заавар</a>
        </div>
    </div>

</footer>
