<footer class="blog-footer">
    <div class="container padding-15">
        <div class="row line-border-vr padding-10">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12 font-15 bold-600 padding-5">

                        Мэдээллийн сангийн асуулт хариулт
                    </div>
                </div>
                <div class="row" style="padding-top: 8px">
                    <div class="col-lg-6">
                        <ul>
                            <li class="line-border-vr padding-5">
                                    Мэдээллийн санг хэрхэн ашиглаглэх вэ?
                                                         </li>
                            <li class="padding-5">
                                Системд яаж нэвтрэх вэ?
                            </li>
                            <li class="line-border-vr padding-5">
                                Системд мэдээлэл оруулах
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li class="line-border-vr padding-5">
                                Системрүү орохгүй байвал яах вэ
                            </li>
                            <li class="line-border-vr-bottom padding-5">
                                Мэдээллийн санг ашиглах заавар татах
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 line-border-hr">
                <div class="bold-600 font-16">Таньд асуулт байна уу?</div>
                <div><span class="phone">Утас</span><span class="number">23687</span></div>
                <div>Бусад холбоос</div>
                <select class="form-control no-border-radius new-form">
                    <option>Веб сайт</option>
                    <option>www.president.mn</option>
                    <option>www.president.mn</option>
                    <option>www.president.mn</option>
                    <option>www.president.mn</option>
                    <option>www.president.mn</option>
                </select>

            </div>
            <div class="col-lg-3 page-bottom">

                <div class="padding-5">Биднийг дагах</div>
                <div>
                    <img src="../../../img/site/facebook.jpg" class="padding-5"/>
                    <img src="../../../img/site/twitter.jpg" class="padding-5"/>
                    <img src="../../../img/site/youtube.jpg" class="padding-5"/>
                </div>

            </div>
        </div>

        <div class="row padding-10">
            <div class="col-lg-3 line-border-right">
                <div>Бүх эрх хуулиар хамгаалагдсан @ 2015</div>
            </div>

            <div class="col-lg-3">
                <a href="#" class="terms">Сайт ашиглах заавар</a>
            </div>
        </div>
    </div>
</footer>
