<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <div style="height: 305px">
                    <carousel interval="2000">
                        <slide ng-repeat="slide in slides">
                            <img ng-src="{{slide.image}}" style="margin:auto;height: 300px">
                            <div class="carousel-caption">
                                <h4>{{slide.title | limitTo: 23 }}</h4>

                                <p> {{slide.content | limitTo: 40 }}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <tabset>
                    <tab heading="Static title">Static content</tab>
                    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                        {{tab.content}}
                    </tab>
                    <tab select="alertMe()">
                        <tab-heading>
                            <i class="glyphicon glyphicon-bell"></i> Alert!
                        </tab-heading>
                        I've got an HTML heading, and a select callback. Pretty cool!
                    </tab>
                </tabset>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="line-border-vr-top">
                    <div class="news-title">Шинэ мэдээ</div>
                </div>
                <div ng-repeat="content in lastContents">
                    <div class="news padding-5">
                        <div class="fl-left">
                            <img ng-src="{{content.image}}" class="news-img">
                        </div>
                        <div>
                            <div class="content-title">
                                {{content.title}}
                            </div>
                            <div class="font-gray">
                                {{content.created_date}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="title"> {{homeContents.title}}</div>
                <img ng-src="{{homeContents.image}}" class="news-img-1">
                <div>
                    {{homeContents.content}}
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                <div data-ng-include="'modules/core/views/login.html'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Үйл ажиллагаа
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img src="../../../img/site/banner/banner1.jpg" class="banner"/>
                <img src="../../../img/site/banner/banner2.jpg" class="banner"/>
                <img src="../../../img/site/banner/banner3.jpg" class="banner"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                САНАЛ ХҮСЭЛТ
            </div>
        </div>
    </div>
</div>

