

<div data-ng-show="lawContents.length > 0" class="col-lg-12 main" ng-repeat="content in lawContents">

    <div class="more-title">{{content.title}}</div>
    <div class="more-date">{{content.created_date  | date : 'yyyy-MM-dd'}}</div>
    <div class="more-img">
        <img data-ng-show="content.image != ''" src="{{content.image}}"/>
    </div>
    <div class="content-body" ng-bind-html="content.content">
    </div>
</div>


<div data-ng-hide="lawContents.length > 0">
    <section>
        <div class="newsHolder top20">
            <div class="row">                    <div class="col-md-4 newsItem">
                <div class="newsThumb">
                    <div class="createdDate"></div>
                    <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                </div>
                <div>
                    <a href="http://osnaaug.ub.gov.mn/374.html">
                        ПАТЕНТИЙН ТУХАЙ Шинэчилсэн найруулга
                    </a>
                </div>
            </div>

                <div class="col-md-4 newsItem">
                    <div class="newsThumb">
                        <div class="createdDate"></div>
                        <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                    </div>
                    <div>
                        <a href="http://osnaaug.ub.gov.mn/373.html">
                            ИРГЭНИЙ ХУУЛЬ
                        </a>
                    </div>
                </div>

                <div class="col-md-4 newsItem">
                    <div class="newsThumb">
                        <div class="createdDate"></div>
                        <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                    </div>
                    <div>
                        <a href="http://osnaaug.ub.gov.mn/372.html">
                            ЗАХИРГААНЫ ХАРИУЦЛАГЫН ТУХАЙ
                        </a>
                    </div>
                </div>

            </div>                                        <div class="row">                    <div class="col-md-4 newsItem">
            <div class="newsThumb">
                <div class="createdDate"></div>
                <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
            </div>
            <div>
                <a href="http://osnaaug.ub.gov.mn/371.html">
                    АВЛИГЫН ЭСРЭГ ХУУЛЬ
                </a>
            </div>
        </div>

            <div class="col-md-4 newsItem">
                <div class="newsThumb">
                    <div class="createdDate"></div>
                    <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                </div>
                <div>
                    <a href="http://osnaaug.ub.gov.mn/366.html">
                        ЭРЧИМ ХҮЧНИЙ ТУХАЙ
                    </a>
                </div>
            </div>

            <div class="col-md-4 newsItem">
                <div class="newsThumb">
                    <div class="createdDate"></div>
                    <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                </div>
                <div>
                    <a href="http://osnaaug.ub.gov.mn/365.html">
                        ХӨДӨЛМӨРИЙН ТУХАЙ
                    </a>
                </div>
            </div>

        </div>                                        <div class="row">                    <div class="col-md-4 newsItem">
            <div class="newsThumb">
                <div class="createdDate"></div>
                <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
            </div>
            <div>
                <a href="http://osnaaug.ub.gov.mn/363.html">
                    ХОТ СУУРИНЫ УС ХАНГАМЖ АРИУТГАХ ТАТУУРГЫН АШИГЛАЛТЫН ТУХАЙ Шинэчилсэн найруулга
                </a>
            </div>
        </div>

            <div class="col-md-4 newsItem">
                <div class="newsThumb">
                    <div class="createdDate"></div>
                    <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                </div>
                <div>
                    <a href="http://osnaaug.ub.gov.mn/362.html">
                        Усны тухай хууль
                    </a>
                </div>
            </div>

            <div class="col-md-4 newsItem">
                <div class="newsThumb">
                    <div class="createdDate"></div>
                    <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                </div>
                <div>
                    <a href="http://osnaaug.ub.gov.mn/361.html">
                        ТӨРИЙН БОЛОН ОРОН НУТГИЙН ӨМЧИЙН ХӨРӨНГӨӨР БАРАА АЖИЛ ҮЙЛЧИЛГЭЭ ХУДАЛДАН АВАХ ТУХАЙ
                    </a>
                </div>
            </div>

        </div>                                        <div class="row">                    <div class="col-md-4 newsItem">
            <div class="newsThumb">
                <div class="createdDate"></div>
                <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
            </div>
            <div>
                <a href="http://osnaaug.ub.gov.mn/360.html">
                    ТӨРИЙН БОЛОН ОРОН НУТГИЙН ӨМЧИЙН ТУХАЙ
                </a>
            </div>
        </div>

            <div class="col-md-4 newsItem">
                <div class="newsThumb">
                    <div class="createdDate"></div>
                    <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                </div>
                <div>
                    <a href="http://osnaaug.ub.gov.mn/359.html">
                        СУУЦ ӨМЧЛӨГЧДИЙН ХОЛБООНЫ ЭРХ ЗҮЙН БАЙДАЛ НИЙТИЙН ЗОРИУЛАЛТТАЙ ОРОН СУУЦНЫ БАЙШИНГИЙН ДУНДЫН ӨМЧЛӨЛИ
                    </a>
                </div>
            </div>

            <div class="col-md-4 newsItem">
                <div class="newsThumb">
                    <div class="createdDate"></div>
                    <img src="http://osnaaug.ub.gov.mn/images/no _img.jpg" width="100%" height=" auto"/>
                </div>
                <div>
                    <a href="http://osnaaug.ub.gov.mn/358.html">
                        ОРОН СУУЦНЫ ТУХАЙ
                    </a>
                </div>
            </div>

        </div>
        </div>
    </section>

</div>


