<div class="row">
    <div class="col-lg-10">
        <div>
            <img src="../../../img/site/banner/bhby-logo.jpg" class="bhby"/>
        </div>
        <div class="bhby-title">
            ИНЖЕНЕРИЙН БАРИЛГА БАЙГУУЛАМЖ ШУГАМ СҮЛЖЭЭНИЙ МЭДЭЭЛЛИЙН САН
        </div>
    </div>
    <div class="col-lg-2">
        <img src="../../../img/site/banner/undp.jpg" class="undp"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <nav class="navbar navbar-default menu">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Нүүр <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Мэдээ мэдээлэл</a></li>
                        <li><a href="#">Хууль эрх зүй</a></li>
                        <li><a href="#">Төсөл хөтөлбөрүүд</a></li>
                        <li><a href="#">Бидний тухай</a></li>
                        <li><a href="#">Холбоо барих</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Хайх утга...">
                        </div>

                    </form>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>
