<div><span class="search">ХАЙЛТЫН ҮР ДҮН : </span>"{{searchToText}}"<br>
    <br>{{resultText}}</div>
<div class="col-lg-12 main" ng-repeat="con in content">

    <div class="more-title">{{con.title}}</div>
    <div class="more-date">{{con.created_date  | date : 'yyyy-MM-dd'}}</div>
    <div class="more-img"><img src="{{con.image}}"/></div>
    <div class="more-content" ng-bind-html="con.content">
    </div>
</div>
<nav>
    <ul class="pagination"  data-ng-repeat="p in pageNumber">
        <li data-ng-click="pageChange(p)">{{p+1}}</li>
    </ul>
</nav>
