

<div data-ng-show="contents.length > 0" class="col-lg-12 main" ng-repeat="content in contents">

    <div class="more-title">{{content.title}}</div>
    <div class="more-date">{{content.created_date | date : 'yyyy-MM-dd'}}</div>
    <div class="more-img">
        <img data-ng-show="content.image != ''" src="{{content.image}}"/>

    </div>
    <div class="content-body" ng-bind-html="content.content">
    </div>
</div>

<div data-ng-hide="contents.length > 0">
    Мэдээлэл алга байна
</div>
<!--
<div ng-repeat="content in contents">
<div class="news padding-5">
    <div class="fl-left">
        <img ng-src="{{content.image}}" class="news-img">
    </div>
    <div>
        <div class="content-title">
            <span data-ng-click="getContent(content.id)">{{content.title}}</span>
        </div>
        <div class="font-gray">
            {{content.created_date}}
        </div>
    </div>
</div>
</div>

</div>
-->
