#user-innerwrap {
    color: #0087cb;
    background: #d0cfca;
    background: -webkit-linear-gradient(top left, #d0cfca 0%, white 100%);

    background: linear-gradient(top right, #d0cfca 0%, white 100%);
    background: linear-gradient(to top left, #d0cfca 0%, white 100%);
}

.blog-footer {
    background: #0087cb;
    color: white;
}

.menu {
    background: #0087cb;
    height: 52px;
}

.menu > li > a {
    color: white;
}

.login-bg {
    background: #0087cb;
    padding: 5px;
}

.padding-5 {
    padding: 5px;
}

.banner {
    padding-top: 5px;
}

.undp {
    float: right;
}

.bhby {
    padding-top: 15px;
    float: left;
    padding-right: 6px;
}

.bhby-title {
    font-size: 29px;
    font-weight: 600;
    line-height: 29px;
    padding-top: 35px;
    color: #00428a;
    width: 670px;
}

#user form {
    padding: 1px;
}

.tab-content {
    background: white;
    padding: 6px;

}

.login-panel {
    height: 42px;
}

.in-active {
    background: #00438a;
    color: white;
}

.login-title {
    color: white;
    padding-left: 10px;
    font-weight: 600;
    font-size: 15px;
}

.nav-tabs > li > a {
    border-radius: 0px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.no-border-radius {
    border-radius: 0px;
}

.width-220 {
    width: 235px;
}

.padding-15 {
    padding: 15px;
    font-size: 13px;
}

.bold-600 {
    font-weight: 600;
}

.number {
    font-size: 45px;
    font-weight: bold;
    padding-left: 15px;
}

.phone {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.font-16 {
    font-size: 16px;
}

.font-15 {
    font-size: 15px;
}

.page-bottom {
    padding-top: 65px;
}

.line-border-hr {
    border-right: 1px solid #4ba7d3;
    border-left: 1px solid #4ba7d3;
}

.line-border-vr {
    border-top: 1px solid #4ba7d3;
    border-bottom: 1px solid #4ba7d3;
}

.line-border-vr-bottom {
    border-bottom: 1px solid #4ba7d3;
}

.line-border-vr-top {
    border-top: 3px solid #4ba7d3;
}

.padding-10 {
    padding: 10px;
}

.line-border-right {
    border-right: 1px solid #4ba7d3;
}

.terms {
    color: #ffffff;
}

.new-form {
    width: 80%;
    height: 25px;
    padding: 0px;
}

.fl-left {
    float: left;
    padding-right: 5px;
}

.font-gray {
    color: #5e5959;
}

.news {
    min-height: 62px;
}

.news-img {
    width: 80px;
    height: 55px;
}

.news-img-1 {

    width: 400px;
}

.news-title {
    padding: 5px 0;
    font-size: 20px;
}

.content-title {
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    border-left: 1px solid white;
}

.navbar-default .navbar-nav > li > a:last-child {
    border-right: 1px solid white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #0770a6;
    color: white;
    font-weight: bold;
}

.slide-bg {
    background: black;
    opacity: 0.7;
    width: 825px;
}

.carousel-caption {
    right: 0;
    left: 0;
    padding-bottom: 0px;
    bottom: 0px;
    text-align: left;
    padding-top: 0px;
}

.slide-title {
    padding-left: 15px;
    text-decoration: underline;
}

.slide-content {
    padding-left: 15px;
}

.carousel-indicators {
    left: 0;
    width: 100%;
    margin-left: 0%;
    padding-right: 10px;
    text-align: right;
    bottom: 0px;
}

.user-form {
    padding: 0px;
}

.login-tab > ul > li.active > a, .login-tab > ul li.active > a:focus, .login-tab > ul li.active > a:hover {
    font-weight: bold;

}

.login-tab > ul > li {
    background: #00438a;
}

.feedback {
    background: #0087cb;
    padding: 10px;

}

.login-tab > ul > li > a {
    color: white;
}

.nav-tabs {
    margin-left: 5px;
}

.main-tab > ul > li.active > a, .main-tab > ul li.active > a:focus, .main-tab > ul li.active > a:hover {
    font-weight: bold;
    background: #d7d3c7;

}

.main-tab > ul > li {
    background: #717171;

}

.main-tab > ul > li > a {
    color: white;
}

.main-tab .tab-content {
    border: 1px solid #eceae4;
}

.module-title {
    font-size: 20px;
    color: slategray;
}

.re-captcha {
    width: 235px;
    padding: 5px;
}

.more-title {
    font-size: 18px;
    border-bottom: #2A5EA8 solid 3px;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #2A5EA8;
}

.more-date {
    font-size: 13px;
    color: slategrey;
}

.more-img{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-img img{
 max-width: 600px;
}

.main {
    background: white;
    margin-bottom: 10px;
}

.link{
    cursor: pointer;
}

.padding-top-5{
    padding-top: 5px;
}
.txt-center{
   width: 70px;
}
.search{
    font-size: 15px;
    color:gray;
}

.f-left input{
    margin: 5px;
    text-align: left;
}

.content-body{
    color: black;
    line-height: 19px;
    text-align: justify;
}

.content-title-css{
    font-size: 28px;
    padding-bottom: 26px;
}
