<div data-ng-init="getContents()">

    <div style="height: 50px">
        <div class="title">
            Мэдээ мэдээллийн тохиргоо
        </div>
        <button data-ng-click="addModalContent()" class="add btn btn-primary btn-sm">Мэдээлэл нэмэх</button>
    </div>

    <div class="div-border">
        <table class="table-list">
            <thead>
            <tr style="background: #006bb7">
                <td class="center-td-title">Зураг</td>
                <td class="center-td-title">Гарчиг</td>
                <td class="center-td-title">Мэдээлэл</td>
                <td class="center-td-title">Бүлэг</td>
                <td class="center-td-title">Үүссэн огноо</td>
                <td class="center-td-title">Үүсгсэн хэрэглэгч</td>
                <td class="center-td-title" style="width: 80px;">Засах</td>
                <td class="center-td-title" style="width: 80px;">Устгах</td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="content in contents">
                <td class="center-td"><img src="{{content.image}}" style="width: 50px;height: 50px"></td>
                <td class="center-td">{{content.title}}</td>
                <td class="center-td">{{content.content}}</td>
                <td class="center-td">{{getCategoryName(content.category_id)}}</td>
                <td class="center-td">{{content.created_date | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                <td class="center-td">{{content.user}}</td>
                <td class="center-td">
                    <button data-ng-click="updateModalContent(content)" class="btn btn-default btn-sm">Засах</button>
                </td>
                <td class="center-td">
                    <button data-ng-click="deleteContent(content.id)" class="btn btn-danger btn-sm">Устгах</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Нийт агуулга:</td>
                <td>{{totalCount}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="9"><ul data-ng-repeat="p in pageNumber"><li data-ng-click="pageChange(p)">{{p+1}}</li></ul></td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>

<div id="content" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 style="color: #000000">{{title_edit}}</h4>
            </div>
            <div class="modal-body" data-ng-init="getCategories()">
                <div class="container">
                    <input type="text" class="form-control" data-ng-model="content.title" placeholder="Гарчиг">
                    <textarea ckeditor="editorOptions" name="detail" ng-model="content.content"
                              placeholder="Агуулга"></textarea>
                    <select class="form-control" data-ng-model="content.category_id"
                            ng-options="category.id as category.name for category in categories"></select>
                    <input type="file" accept="image/*" file-upload>
                </div>
                <center>
                    <button data-ng-click="updateContent()" data-ng-show="updateBtn" class="btn btn-primary">Засах
                    </button>
                    <button data-ng-click="createContent()" data-ng-hide="updateBtn" class="btn btn-primary">Нэмэх
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
