<!--<div data-ng-include="'/modules/admin/views/template/header.html'"></div>-->
<div class="col-md-4">
    ???????????????
    <form>
        <input type="text" class="form-control" data-ng-model="username" placeholder="??????? ???">
        <input type="password" class="form-control" data-ng-model="password" placeholder="???? ??">
        <input type="password" class="form-control" data-ng-model="re_password" placeholder="???? ?? ????">
        <input type="text" class="form-control" data-ng-model="fullname" placeholder="???????? ???">
        <input type="text" class="form-control" data-ng-model="phone" placeholder="????">
        <input type="text" class="form-control" data-ng-model="email" placeholder="?-????">
        <select class="form-control" data-ng-model="role_id" ng-options="role.id as role.name for role in roles"></select>
    </form>
</div>