<div data-ng-init="initDashboard()">
    <div class="row">
        <div class="col-md-6" id="chartContent"></div>
        <div class="col-md-6" id="chartUser"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="color: #000000"> Сүүлд оруулсан 10 мэдээ</div>
            <div class="div-border">
                <table class="table-list">
                    <thead>
                    <tr style="background: #006bb7">
                        <td class="center-td-title">Зураг</td>
                        <td class="center-td-title">Гарчиг</td>
                        <td class="center-td-title">Мэдээлэл</td>
                        <td class="center-td-title">Бүлэг</td>
                        <td class="center-td-title">Үүссэн огноо</td>
                        <td class="center-td-title">Үүсгсэн хэрэглэгч</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="content in contents">
                        <td class="center-td"><img src="{{content.image}}" style="width: 50px;height: 50px"></td>
                        <td class="center-td">{{content.title}}</td>
                        <td class="center-td">{{content.content}}</td>
                        <td class="center-td">{{getCategoryName(content.category_id)}}</td>
                        <td class="center-td">{{content.created_date | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                        <td class="center-td">{{content.user}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
