<div data-ng-init="getUsers()">

    <div style="height: 50px">
        <div class="title">
            Хэрэглэгчийн тохиргоо
        </div>
        <button data-ng-click="createModalUser()" class="add btn btn-primary btn-sm">Хэрэглэгч нэмэх</button>
    </div>

    <div class="div-border">
        <table class="table-list">
            <thead>
            <tr style="background: #006bb7">
                <td class="center-td-title">Зураг</td>
                <td class="center-td-title">Нэвтрэх нэр</td>
                <td class="center-td-title">Нэр</td>
                <td class="center-td-title">И-майл</td>
                <td class="center-td-title">Утас</td>
                <td class="center-td-title">Эрх</td>
                <td class="center-td-title" style="width: 80px;">Засах</td>
                <td class="center-td-title" style="width: 80px;">Устгах</td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in users">
                <td class="center-td"><img src="{{user.image}}" style="width: 50px;height: 50px"></td>
                <td class="center-td">{{user.username}}</td>
                <td class="center-td">{{user.fullname}}</td>
                <td class="center-td">{{user.phone}}</td>
                <td class="center-td">{{user.email}}</td>
                <td class="center-td">{{getRoleName(user.role_id)}}</td>
                <td class="center-td">
                    <button data-ng-click="updateModalUser(user)" class="btn btn-default btn-sm">Засах</button>
                </td>
                <td class="center-td">
                    <button data-ng-click="deleteUser(user.username)"  class="btn btn-danger btn-sm">Устгах</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">

    </div>
</div>

<div id="user" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 style="color: #000000">{{title_edit}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" class="form-control" name="username" data-ng-disabled="updateBtn" data-ng-model="user.username"
                           placeholder="Нэвтрэх нэр">
                    <input type="password" class="form-control" name="password" data-ng-model="user.password"
                           placeholder="Нууц үг">
                    <input type="password" class="form-control" name="re_password" data-ng-model="user.re_password"
                           placeholder="Нууц үг давт">
                    <input type="text" class="form-control" name="fullname" data-ng-model="user.fullname"
                           placeholder="Харагдах нэр">
                    <input type="text" class="form-control" name="phone" data-ng-model="user.phone" placeholder="Утас">
                    <input type="text" class="form-control" name="email" data-ng-model="user.email"
                           placeholder="И-майл">
                    <select class="form-control" name="role_id" data-ng-model="user.role_id"
                            ng-options="role.id as role.name for role in roles"></select>
                    <center>
                        <input type="file" accept="image/*" file-upload  style="border: 1px solid gray; color:gray">
                        <button data-ng-click="updateUser()" data-ng-show="updateBtn" class="btn btn-primary">Засах</button>
                        <button data-ng-click="createUser()" data-ng-hide="updateBtn" class="btn btn-primary">Нэмэх</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>

